body
{
	/*background-color:rgb(128, 128, 128,0.88); */
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("image1.jpg");
  background-repeat: no-repeat;
    position:cover;
     background-size: 100%;
	position: absolute;
}
.search-box
{
	position: relative;
  padding: 100px;
  margin: 8px 0;
}

#write
{
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	box-sizing: border-box;
  	border: 2px solid red;
  	border-radius: 5px;
  	font-size: 20px;
  	font-family: Roboto;
}

#search
{ 
  width: 50%;
	background-color: red;
  border-radius: 5px;
  	border: none;
  	color: white;
  	padding: 16px 32px;
  	text-decoration: none;
  	margin: 4px 2px;
  	font-size: 20px;
  	cursor: pointer;
  	font-family: Roboto;
}

#N
{
	position: relative;

}

#inp
{
	position: relative;

}

.search-box
{
	left: 30%;
}